<form (ngSubmit)="submit()" [formGroup]="alertDefinitionFormGroup">
  <div class="form-group row">
    <label for="displayName" class="col-sm-2">
      Name
      <small class="form-text text-muted">Optional</small>
    </label>
    <div class="col col-sm-10">
      <input id="displayName" class="form-control" formControlName="displayName"
        [ngClass]="{ 'is-invalid': isInvalid('displayName') }" />
      <small class="invalid-feedback" *ngFor="let message of validationErrors.displayName">
        {{ message }}
      </small>
    </div>
  </div>
  <div class="form-group row">
    <label for="minerId" class="col-sm-2"> Miner </label>
    <div class="col col-sm-10">
      <select id="minerId" class="form-control" formControlName="minerId"
        [ngClass]="{ 'is-invalid': isInvalid('minerId') }">
        <option *ngFor="let miner of miners | async" [ngValue]="miner.id">
          {{ miner.name }}
        </option>
      </select>
      <small class="invalid-feedback" *ngFor="let message of validationErrors.minerId">
        {{ message }}
      </small>
      <small class="invalid-feedback" *ngIf="alertDefinitionFormGroup.get('minerId').errors?.required">
        Miner is required
      </small>
    </div>
  </div>
  <div class="form-group row">
    <label for="severity" class="col-sm-2"> Severity </label>
    <div class="col col-sm-10">
      <select id="severity" class="form-control" formControlName="severity"
        [ngClass]="{ 'is-invalid': isInvalid('severity') }">
        <option *ngFor="let alertSeverity of alertSeverity | enum" [ngValue]="alertSeverity.value">
          {{ alertSeverity.key | humanize }}
        </option>
      </select>
      <small class="invalid-feedback" *ngFor="let message of validationErrors.severity">
        {{ message }}
      </small>
      <small class="invalid-feedback" *ngIf="alertDefinitionFormGroup.get('severity').errors?.required">
        Severity is required
      </small>
    </div>
  </div>
  <div class="form-group row">
    <label for="enabled" class="col-sm-2"> Enabled </label>
    <div class="col col-sm-10">
      <input type="checkbox" id="enabled" formControlName="enabled" />
    </div>
  </div>
  <mm-alert-definition-parameters [alertParameters]="alertDefinition.parameters"
    [alertDefinitionFormGroup]="alertDefinitionFormGroup" [validationErrors]=" validationErrors">
  </mm-alert-definition-parameters>
  <mm-alert-actions [actions]="alertDefinition.actions"></mm-alert-actions>
  <button type="submit" class="btn btn-outline-info" [disabled]="!alertDefinitionFormGroup.valid">Save Changes</button>
</form>