<div *ngIf="miner && dataSet; else loading">
    <h3>{{ miner.name }}</h3>

    <nav class="navbar navbar-dark bg-dark mb-2">
        <div class="form-inline mr-auto">
            <div class="form-group">
                <div class="custom-control custom-radio mr-5">
                    <input type="radio" id="live" name="customRadio" class="custom-control-input" [value]="true"
                        [(ngModel)]="live" (change)="live ? GoLive(): null">
                    <label class="custom-control-label" for="live">Live</label>
                </div>
                <div class="custom-control custom-radio mr-3">
                    <input type="radio" id="timetravel" name="customRadio" class="custom-control-input" [value]="false"
                        [(ngModel)]="live">
                    <label class="custom-control-label" for="timetravel">Time Travel</label>
                </div>
            </div>
            <div class="form-group">
                <input #to type="datetime-local" class="form-control form-control-sm mr-3" [disabled]="live" [value]="timeTravelTo | date:'yyyy-MM-ddTHH:mm'">
                <button type="button" class="btn btn-sm btn-primary" [disabled]="live" (click)="TimeTravel(to.value)">Go</button>
            </div>
        </div>
    </nav>

    <div class="stats">
        <div class="row">
            <div class="col-lg">
                <div class="d-flex justify-content-between align-items-center">
                    <strong>Hashrate</strong>
                    {{ snapshot.minerStatistics && snapshot.minerStatistics.ethereum.hashrate / 1000 || '--' }} MH/s
                </div>
            </div>
            <div class="col-lg">
                <div class="d-flex justify-content-between align-items-center">
                    <strong>Shares</strong>
                    <span *ngIf="snapshot.minerStatistics && snapshot.minerStatistics.ethereum">
                        <span title="Valid Shares">{{ snapshot.minerStatistics.ethereum.shares }}</span> /
                        <span title="Stale Shares">{{ snapshot.minerStatistics.ethereum.rejectedShares }}</span> /
                        <span title="Invalid Shares">{{ snapshot.minerStatistics.ethereum.invalidShares }}</span>
                    </span>
                </div>
            </div>
            <div class="col-lg">
                <div class="d-flex justify-content-between align-items-center">
                    <strong>Miner Version</strong>
                    {{ snapshot.minerStatistics && snapshot.minerStatistics.minerVersion }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                <div class="d-flex justify-content-between align-items-center">
                    <strong>Time</strong>
                    {{ snapshot.snapshotTime | date:'M/d/yy, h:mm:ss a' }}
                </div>
            </div>
            <div class="col-lg">
                <div class="d-flex justify-content-between align-items-center">
                    <strong>Uptime</strong>
                    {{ snapshot.minerStatistics && snapshot.minerStatistics.uptime }}
                </div>
            </div>
            <div class="col-lg">
                <div class="d-flex justify-content-between align-items-center">
                    <strong>Pool</strong>
                    {{snapshot.minerStatistics
                    && snapshot.minerStatistics.ethereum
                    && snapshot.minerStatistics.ethereum.pool}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" *ngFor="let data of dataSet; index as i">
            <mm-gpu-chart name="GPU {{ i + 1 }}" [data]="data" [mode]="snapshot.minerStatistics && snapshot.minerStatistics.gpus && snapshot.minerStatistics.gpus && snapshot.minerStatistics.gpus[i].mode">
            </mm-gpu-chart>
        </div>
    </div>
</div>
<ng-template #loading>
    Loading...
</ng-template>