<div *ngIf="miner; else loading">
  <button
    class="btn btn-outline-danger float-right"
    *ngIf="!miner.collectorId"
    (click)="Delete()"
  >
    Delete Miner
  </button>
  <h3>{{ miner.name }}</h3>
  <a class="btn btn-outline-success" routerLink="/monitor/{{ miner.id }}">
    <fa-icon [icon]="faHeartbeat"></fa-icon>
    Monitor {{ miner.name }}
  </a>
  <mm-miner-form
    [miner]="miner"
    [validationErrors]="validationErrors"
    (save)="Save($event)"
  >
  </mm-miner-form>
</div>
<ng-template #loading> Loading Miner... </ng-template>
