<div *ngIf="action" [formGroup]="actionFormGroup">
  <button type="button" class="btn btn-sm btn-outline-info mb-2" (click)="close()" [disabled]="!actionFormGroup.valid">
    Done
  </button>
  <div class="form-group row">
    <label for="type" class="col-sm-2">
      <small>Type</small>
    </label>
    <div class="col col-sm-10">
      <select id="type" class="form-control form-control-sm" formControlName="type"
        (ngModelChange)="changeForm(actionFormGroup.get('type').value)" [ngClass]="{ 'is-invalid': isInvalid('type') }">
        <option *ngFor="let type of actionTypes | enum" [ngValue]="type.value">
          {{ type.key | humanize }}
        </option>
      </select>
      <small class="invalid-feedback" *ngIf="!actionFormGroup.get('type').errors?.required">
        Type is required
      </small>
    </div>
  </div>
  <div class="form-group row">
    <label for="displayName" class="col-sm-2">
      <small>Name <span class="text-muted">(optional)</span></small>
    </label>
    <div class="col col-sm-10">
      <input id="displayName" class="form-control form-control-sm" formControlName="displayName" />
    </div>
  </div>
  <div [ngSwitch]="actionFormGroup.get('type').value">
    <div *ngSwitchCase="actionTypes.DisableGpu">
      <div class="form-group row" title="Disable GPU(s) affecting the alert">
        <label for="disableAffected" class="col-sm-2">
          <small>Disable Affected</small>
        </label>
        <div class="col col-sm-10">
          <input type="checkbox" id="disableAffected" formControlName="disableAffected" />
        </div>
      </div>
      <div class="form-group row" title="Disable all GPUs">
        <label for="disableAll" class="col-sm-2">
          <small>Disable All</small>
        </label>
        <div class="col col-sm-10">
          <input type="checkbox" id="disableAll" formControlName="disableAll" />
        </div>
      </div>
    </div>
    <div *ngSwitchCase="actionTypes.WebHook">
      <div class="form-group row">
        <label for="url" class="col-sm-2">
          <small>URL</small>
        </label>
        <div class="col col-sm-10">
          <input id="url" class="form-control form-control-sm" formControlName="url"
            [ngClass]="{ 'is-invalid': isInvalid('url') }" />
          <small class="invalid-feedback" *ngIf="!actionFormGroup.get('url').errors?.validUrl">
            A valid URL is required
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label for="body" class="col-sm-2">
          <small>Body</small>
        </label>
        <div class="col col-sm-10">
          <textarea id="body" class="form-control form-control-sm" formControlName="body"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>