<h3>Server Administration</h3>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin/settings" routerLinkActive="active">
      Settings
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin/users" routerLinkActive="active">
      Users
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/admin/collectors"
      routerLinkActive="active"
    >
      Collectors
    </a>
  </li>
</ul>
<router-outlet></router-outlet>
