@import "../variables.scss";

nav {
    display: block;
    position: fixed;
    width: $sidebar-width;
    top: 70px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;

    @media screen and (max-width: $small-screen) {
        display: none;
    }
    h3 {
        .nav-link {
            padding-left: 0;
        }
    }   
}